<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">

  <test thread-count="5" name="JIRAAPI_Tests">
    <classes>
      <!-- <class name="MavenFramework.Twitter1"/> -->
      <class name="jira_api.JIRACommentOperations"/>
      <class name="jira_api.JIRAIssueOperations"/>
    </classes>
  </test> <!-- Test -->
	
  <test thread-count="5" name="TwitterAPI_Tests">
    <classes>
      <!-- <class name="MavenFramework.Twitter1"/> -->
      <class name="jira_api.TwitterTweetOperations"/>
    </classes>
  </test> <!-- Test -->
  
</suite> <!-- Suite -->
